
@font-face {
    font-family: Merriweather-bold;
    src: url(/silentium./font/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
    font-family: Work_Sans;
    src: url(/silentium./font/Work_Sans/WorkSans-VariableFont_wght.ttf);
}