@import "reset.css";
@import "font.css";

@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
   /* styles for mobile browsers smaller than 480px; (iPhone) */
}
@media only screen and (device-width: 768px) {
   /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #000000;
    align-items: center;
    font-family: Work_Sans;
    color: #CECECE;
    padding: 10px;
}

.main-block {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    width: 450px;
    height: 1500px;
    font-size: 30px;
}

.main-name {
    padding-top: 300px;
    font-family: Merriweather-bold;
    font-size: 80px;
}

.descriptions-text {
    padding-top: 20px;
    color: #6d6d6d;
}

.bio-list {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.russia-flag {
    width: 30px;
}



.Country {
    padding-top: 100px;
}

.links {
    padding-top: 50px;
    
}

.link-ul{
    padding-top: 20px;
}
.link-li {
    text-decoration: none;
    color: #6d6d6d;
    transition: 0.5s;

}
.link-li:hover {
    color: #CECECE;
}

.bio-li {
    color: #6d6d6d;
}

.project-list {
    padding-top: 20px;
}
