@import "reset.css";
@import "font.css";
@import 'media.css';
@keyframes smooth-appear{
    to {
        opacity: 1;
    }

}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #000000;
    align-items: center;
    font-family: Work_Sans;
    color: #CECECE;
}

.main-block {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    height: 1500px;
    font-size: 30px;
}

.main-name {
    padding-top: 300px;
    font-family: Merriweather-bold;
    transition: 1s;
    opacity: 0;
    animation: smooth-appear 1s ease forwards;
}
.descriptions {
    opacity: 0;
    animation: smooth-appear 1.5s ease forwards;
}

.bio {
    opacity: 0;
    animation: smooth-appear 2s ease forwards;
}
.link-list {
    opacity: 0;
    animation: smooth-appear 2.5s ease forwards;
}

.project {
    opacity: 0;
    animation: smooth-appear 3s ease forwards;
}

.descriptions-text {
    padding-top: 20px;
    color: #6d6d6d;
}

.bio-list {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.russia-flag {
    width: 30px;
}



.Country {
    padding-top: 100px;
}

.links {
    padding-top: 50px;
    
}

.link-ul{
    padding-top: 20px;
}
.link-li {
    text-decoration: none;
    color: #6d6d6d;
    transition: 0.5s;

}
.link-li:hover {
    color: #CECECE;
}

.bio-li {
    color: #6d6d6d;
}

.project-list {
    padding-top: 20px;
}
